<?xml version="1.0"?>
<connectionStrings>


  <!--<add name="TourOnlineConn" connectionString="Server=60.191.70.234,98;database=tourol20130204;uid=sa;pwd=zmmisateacher" providerName="System.Data.SqlClient"/>-->


 <add name="TourOnlineConn" connectionString="Server=.\sqlexpress;database=tourol0204; Trusted_Connection=true; " providerName="System.Data.SqlClient"/>

  

</connectionStrings>




