<?xml version="1.0"?>
<membership defaultProvider="TourMembershipProvider">
    <providers>
        <clear/>
        <add name="TourMembershipProvider" type="BLL.TourMembershipProvider" connectionStringName="TourOnlineConn"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
              minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10" applicationName="/"/>
    </providers>
</membership>