<?xml version="1.0"?>
<rewriter>



  <rewrite url="/js/?$" to="/topic/jiangshanlianpiao_mobile.aspx" processiong="stop"/>


  <rewrite url="/.*jianglangshan-nianbadu-qingyang-lianpiao.html$" to="/topic/jiangshanlianpiao.aspx" processiong="stop"/>

  -->
  <unless url="\.htm$|\.ashx|\.aspx.*|\.css|\.gif|\.png|\.jpg|\.js|\.ico|^/$|^/about|^/ajax|^/Manager|^/Order|^/map|^/payment|^/promote|^/scenic|^/scenicmanager|^/search|^/usercenter|^/err\.aspx|^/DiscountTicket">
        <rewrite url="/Tickets/?$" to="/DiscountTicket/default.aspx" processing="stop" />

        <!--景区详情-->
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/((?!t_)\D+)\.html" to="/Scenic/default.aspx?sname=$3" processing="stop" />
        <!--区域_区县/级别/[分页]-->
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/(\d(a|A))/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$3&amp;county=$2&amp;pgotindex=$6" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/(\d(a|A))/?$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$3&amp;county=$2" processing="stop" />
        <!--区域/级别/[分页]-->
        <rewrite url="/Tickets/((?!t_)\D+)/(\d(a|A))/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$2&amp;pgotindex=$5" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)/(\d(a|A))/?$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$2" processing="stop" />
        <!--区域_区县/主题/分页-->
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/(t_\D+)/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?area=$1&amp;topic=$3&amp;county=$2&amp;pgotindex=$5" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/(t_\D+)/?$" to="/DiscountTicket/default.aspx?area=$1&amp;county=$2&amp;topic=$3" processing="stop" />
        <!--区域/主题/分页-->
        <rewrite url="/Tickets/((?!t_)\D+)/(t_\D+)/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?area=$1&amp;topic=$2&amp;pgotindex=$4" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)/(t_\D+)/?$" to="/DiscountTicket/default.aspx?area=$1&amp;topic=$2" processing="stop" />
        <!--区域_区县/级别/主题-->
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/(\d+(a|A))/(t_\D+)/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$3&amp;county=$2&amp;topic=$5&amp;pgotindex=$7" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/(\d+(a|A))/(t_\D+)/?$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$3&amp;county=$2&amp;topic=$5" processing="stop" />
        <!--区域/级别/主题-->
        <rewrite url="/Tickets/((?!t_)\D+)/(\d+(a|A))/(t_\D+)/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$2&amp;topic=$4&amp;pgotindex=$6" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)/(\d+(a|A))/(t_\D+)/?$" to="/DiscountTicket/default.aspx?area=$1&amp;level=$2&amp;topic=$4" processing="stop" />
        <!--级别/主题/分页-->
        <rewrite url="/Tickets/(\d+(a|A))/(t_\D+)/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?level=$1&amp;topic=$3&amp;pgotindex=$5" processing="stop" />
        <rewrite url="/Tickets/(\d+(a|A))/(t_\D+)/?$" to="/DiscountTicket/default.aspx?level=$1&amp;topic=$3" processing="stop" />
        <!--区域_区县/[分页] -->
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/(page_(\d+)\.html)?$" to="/DiscountTicket/default.aspx?area=$1&amp;county=$2&amp;pgotindex=$4" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)_(\D+)/?$" to="/DiscountTicket/default.aspx?area=$1&amp;county=$2" processing="stop" />
        <!--区域/[分页] -->
        <rewrite url="/Tickets/((?!t_)\D+)/(page_(\d+)\.html)?$" to="/DiscountTicket/default.aspx?area=$1&amp;pgotindex=$3" processing="stop" />
        <rewrite url="/Tickets/((?!t_)\D+)/?$" to="/DiscountTicket/default.aspx?area=$1" processing="stop" />
        <!--级别/分页-->
        <rewrite url="/Tickets/(\d+(a|A))/(page_(\d+)\.html)?$" to="/DiscountTicket/default.aspx?level=$1&amp;pgotindex=$4" processing="stop" />
        <rewrite url="/Tickets/(\d+(a|A))/?$" to="/DiscountTicket/default.aspx?level=$1" processing="stop" />
        <!--主页/分页-->
        <rewrite url="/Tickets/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?pgotindex=$2" processing="stop" />
        <!--主题/分页-->
        <rewrite url="/Tickets/(t_\D+)/(page_(\d+)\.html)$" to="/DiscountTicket/default.aspx?topic=$1&amp;pgotindex=$3" processing="stop" />
        <rewrite url="/Tickets/(t_\D+)/?$" to="/DiscountTicket/default.aspx?topic=$1" processing="stop" />

    </unless>
</rewriter>