<?xml version="1.0"?>
<connectionStrings>
    <!--<add name="TourOnlineConn"
             connectionString="Server=.\SQL2008;
      database=TourOnline;uid=sa;pwd=aa123"

         providerName="System.Data.SqlClient"/>-->
    <!--<add name="TourOnlineConn" connectionString="Server=192.168.1.141\SQLEXPRESS;database=tourolqz;uid=dev;pwd=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=tourolqz0203;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=tourol0129;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=tourol0202;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
    <add name="TourOnlineConn" connectionString="Server=60.191.70.234,98;database=tourol20130204;uid=sa;pwd=zmmisateacher" providerName="System.Data.SqlClient"/>
    <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=tourolqz0203;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
</connectionStrings>




