<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="TourOnlineConn"
          connectionString="Server=.\sqlexpress;
      database=tourol0829;trusted_connection=true;"
      providerName="System.Data.SqlClient"/>
        <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=TourOnline;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <appSettings>
        <add key="HTMLInfoPath" value="D:\HTMLInfo\"/>
    </appSettings>
</configuration>