bin
Bin
obj
*.suo
WEB/config/connectionStrings.config
WEB/config/app.config
DiJieSheWeb/config/connectionStrings.config
AdminWeb/config/connectionStrings.config
TourTest/app.config
TourTest/App.config
*.scc
/DAL/*.scc
packages
WEB/tourolLog
AdminWeb/tourolAdminLog

