<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
       <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
        <sectionGroup name="QQSectionGroup">
            <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <QQSectionGroup>
        <QzoneSection>
            <add key="AppKey" value="100250988" />
            <add key="AppSecret" value="12a31cffbe8fff2182b2863bb066b7fc" />
            <add key="CallBackURI" value="http://www.14kr.com/Account/QQCallbackRecieveHandler.ashx" />
            <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
        </QzoneSection>
    </QQSectionGroup>
  <connectionStrings>
    <add name="TourOnlineConn" connectionString="Server=127.0.0.1,7788;database=TourOnline;uid=sa;pwd=admin" providerName="System.Data.SqlClient" />
      <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=TourOnline;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
      <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;database=TourOnline;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings configSource="config\app.config"></appSettings>
    <rewriter configSource="config\rewriter.config" />
  <system.web>
  
    <pages>
      <controls>
        <add namespace="Wuqi.Webdiyer" assembly="AspNetPager" tagPrefix="uc" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
    <!--<anonymousIdentification enabled="true"/>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
   
    <membership defaultProvider="TourMembershipProvider">
      <providers>
        <clear />
        <add name="TourMembershipProvider" type="BLL.TourMembershipProvider" connectionStringName="TourOnlineConn" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="TourRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="TourRoleProvider" type="BLL.TourRoleProvider" connectionStringName="TourOnlineConn" applicationName="/" />
        </providers>
    </roleManager>
   
  </system.web>


  <system.webServer>
     
    <modules runAllManagedModulesForAllRequests="true">
     
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
     
    </modules>
  </system.webServer>
</configuration>
