body 
{
    padding:0px;
    margin:0px;
    font-size:12px;
    text-align:center;
}
#main
{
    display:inline-block;
    background:url("/theme/default/image/managerloginbg.png");
    width:900px;
    height:583px;
    margin:0px auto;
}
#footer
{
    margin:0px auto;
    height:30px;
    line-height:30px;
    width:900px;
    background-color:#E6E7E7;
    color:#297ABC;
}
#footer span
{
    line-height:30px;
    margin-left:15px;
}
#mainlogin
{
    width:520px;
    height:364px;
    margin:130px auto;
    background:url("/theme/default/image/managerloginbg2.png");
}
#title
{
    width:345px;
    height:50px;
    margin:0px auto;
    font-family:微软雅黑;
    font-size:18px;
    text-align:center;
    padding-top:16px;
}
.tablemain
{
    display:block;
    width:300px;
    margin:20px auto;
    padding-left:30px;
}
.tablemain tr td
{
    padding-bottom:20px;
    padding-bottom:0px \9;
    padding-bottom:20px \0\9;
}
.username
{
    font-size:16px;
    font-family:微软雅黑;
    color:#454545;
    line-height:33px;
}
.txtusername
{
    width:180px;
    height:20px;
    line-height:20px;
    margin-top:3px;
    margin-top:13px \9;
    vertical-align:top;
    margin-top:10px \0\9;
}
.btnlogin
{
    background:url("/theme/default/image/btnlogin.png");
    width:75px;
    height:36px;
    border:0px none;
    cursor:pointer;
    margin-top:30px \0;
}