<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.TourOnlineConnectionString"
            connectionString="Data Source=STONE-PC\SQL2008;Initial Catalog=TourOnline;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>