<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configSource="config\connectionStrings.config" />
  <system.web>
    <pages>
      <controls>
        <add namespace="Wuqi.Webdiyer" assembly="AspNetPager" tagPrefix="uc" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
    <authentication configSource="config\authentication.config" />
    <anonymousIdentification enabled="true" cookieName=".ASPXAUTH" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain="tourol.cn" />
    <membership configSource="config\membership.config" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>