
#aboutleft
{
    float:left;
    width:30%;
}
#aboutleft ul
{
    list-style-type:none;
    font-weight:600;
    margin:30px 0px 20px 120px;
}
#aboutleft ul li
{
    list-style-type:none;
    width:150px;
    height:30px;
    text-align:center;
    padding-top:13px;
    background-color:inherit;
    display:block;
    
}
#aboutleft ul li div
{
    width:140px;
    height:30px;
    text-align:center;
    padding-top:15px;
    background-color:inherit;
    display:block;
}
#aboutleft ul li  a
{
    margin:7px auto;
    color:#CE5135;
}
#aboutright
{
    float:right;
    width:70%;
}
#maintitle
{
    font-weight:800;
    margin:20px 0px 10px 20px;
    font-size:12px;
}
#wenzi
{
    border:1px solid #C9C8C7;
    width:600px;
    height:350px;
    margin:20px 0px 50px 30px;
}