<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetPager_CN" version="7.4.2" targetFramework="net40" />
  <package id="CKEditor" version="3.6.4" targetFramework="net40" />
  <package id="ckeditor3" version="3.6.5" targetFramework="net40" />
  <package id="CkeditorForASP.NET" version="3.6.4.0" targetFramework="net40" />
</packages>