<?xml version="1.0"?>
<configuration>


  <connectionStrings configSource="config\connectionStrings.config" />
  <appSettings configSource="config\app.config">
  </appSettings>

  <system.web>
    <pages configSource="config\pages.config" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication configSource="config\authentication.config" />
    <membership configSource="config\membership.config" />
      <roleManager configSource="config\roleManager.config" />
      <httpRuntime requestValidationMode="2.0" />
  </system.web>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>