.qtyBtn
{
    display: block;
    height: 16px;
    width: 13px;
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    padding-left:3px;
    padding-right:3px;
    cursor: pointer;
    margin-left: 5px;
    line-height:16px;
}
.qtyBtn:hover
{
    background-color: Yellow;
}
.qtyModify
{
    float: left;
    margin: 0 !important;
    margin-left: 5px !important;
    width: 40px;
    text-align:center;
    height:18px;
    _height:16px;
}
.delete
{
    cursor: pointer;
}
#itemlist
{
}
.orderlist
{
    width:100%;
    margin-bottom: 0;
}
.orderlist tr
{
    height: 35px;
}
.orderlist td
{
    text-align:center;
}
.orderlist thead tr
{
    background-color: #E6E6E6;
    color: Black;
}
.orderlist tfoot
{
    background-color: #82974C;
    font-style: normal;
    color: White;
}
.orderlist tfoot tr
{
    height: 25px;
}
.orderlist tfoot div
{
    float: right;
    margin-right: 30px;
}
#payaction
{
    float: right;
    margin-right: 80px;
    margin-top: 30px;
    _margin-right:40px;
}
#payaction a
{
    margin-left: 40px;
}


