#logincontainer
{
    /*
    font-size: 15px;
    margin: 0 20px 10px 20px;
    width: 920px;
    float: left;
    padding-top: 50px;
    background-color: #DEF4D0;
    padding-bottom:50px;*/
}
#loginbox
{ 
  display:inherit;
    margin: 0 auto;
  
    padding: 25px 30px;
    width: 500px;
  
    background-color: #fff;
}
#loginbox table td
{
     padding:10px 0;
    }

.lb
{
    display: block;
    width: 60px;
    margin-bottom: 5px;
}

.tbx
{
    width: 250px;
   line-height: 31px;
   height:31px;
}

.loginbtn
{
    
     width:100px;
     height:30px;
     text-align:center;
    cursor:pointer;
    
    }
 #lg3rd
 {
      margin-top:10px;
     }   
     .cbremember label
     {
          font-weight:normal !important;
         }
#error
{
   
    margin: 10px;
  
    color: Red;
    padding: 20px;
}


