/*景区资料审核*/
#selectdiv
{
    width:100%;
    height:20px;
    margin:20px 0px 0px 35px;
    vertical-align:middle;
}

#selectdiv span
{
    font-weight:700;
}
.btnok
{
    border:0px none;
    background:url("/theme/default/image/btnok3.png");
    width:44px;
    height:26px;
    cursor:pointer;
}
.tblist
{
    width:98%;
    border-left:1px solid #CDCDCD;
    border-top:1px solid #CDCDCD;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
}
.tblist td
{
    border-right:1px solid #CDCDCD;
    border-bottom:1px solid #CDCDCD;
    margin:0px;
    padding:0px;
    height:20px;
    line-height:20px;
}
.tblist .thead td
{
    height:27px;
    background:url("/theme/default/image/tbodybg.png");
    background-repeat:repeat-x;
    text-align:center;
    line-height:27px;
    font-weight:700;
}