#left
{
    float:left;
    height:100px;
}
#container
{
    width:100%;
    height:100%;
}
.divicon
{
    position:absolute;
    background-color:#FF8642;
    border:1px solid #A24A13;
    color:White;
    height:15px;
    line-height:15px;
    white-space:nowrap;
    font-size:12px;
    padding:2px;
    _padding:1px;
}
#right
{
    float:left;
    width:260px;
    margin-right:18px;
    background-color:White;
    height:100px;
}
.sceincnum
{
    font-size:16px;
    color:#8BB06D;
    font-weight:bold;
    width:15px;
    display:inline-block;
}
.spansceincname
{
    margin-left:10px;
    font-size:12px;
    top:-2px;
    width:135px;
    display:inline-block;
    cursor:pointer;
}
#resultscenic
{
    overflow:hidden;
    display:block;
    
}
.scenicinfo
{
    width:220px;
    margin:5px auto 0px auto;
    padding-bottom:1px;
    border-bottom:1px dashed Gray;
    overflow:hidden;
}
.scenicinfo a:link,.scenicinfo a:hover,.scenicinfo a:active,.scenicinfo a:visited
{
    margin-left:20px;
    font-size:12px;
    top:-2px;
    text-decoration:none;
    color:#8BB06D;
}
/*新版本*/
.selbg
{
    width:730px;
    height:32px;
    display:block;
    background-color:#E5E5E5;
    position:absolute;
    z-index:9998;
}
.sellevel
{
    width:75px;
    height:25px;
    display:block;
    background-color:White;
    position:absolute;
    z-index:9999;
    left:50px;
    top:4px;
    text-align:left;
    padding-left:5px;
    line-height:25px;
    cursor:pointer;
}
.sellevelinfo
{
    width:75px;
    height:110px;
    display:block;
    background-color:White;
    position:absolute;
    z-index:9999;
    left:50px;
    top:25px;
    text-align:left;
    padding-left:5px;
    line-height:25px;
    display:none;
}
.sellevelinfo a
{
    display:block;
    width:50px;
    height:25px;
    text-align:center;
    margin-left:5px;
    cursor:pointer;
}
.selarea
{
    width:75px;
    height:25px;
    display:block;
    background-color:White;
    position:absolute;
    z-index:9999;
    left:135px;
    top:4px;
    text-align:left;
    padding-left:5px;
    line-height:25px;
    cursor:pointer;
}
.selareainfo
{
    width:75px;
    display:block;
    background-color:White;
    position:absolute;
    z-index:9999;
    left:135px;
    top:25px;
    text-align:left;
    padding-left:5px;
    line-height:25px;
    display:none;
}
.selareainfo a
{
    margin-left:8px;
    margin-right:8px;
    margin-bottom:6px;
    padding:1px;
    padding-left:3px;
    padding-right:3px;
    display:inline-block;
    text-align:center;
}
.selareainfo a:link,.selareainfo a:visited,.selareainfo a:active
{
    color:Black;
    text-decoration:none;
    text-align:center;
    margin-bottom:6px;
    padding:1px;
    padding-left:2px;
    padding-right:2px;
    display:block;
    text-align:center;
}
.selareainfo a:hover
{
    text-decoration:underline;
    text-align:center;
    margin-bottom:6px;
    padding:1px;
    padding-left:2px;
    padding-right:2px;
    display:block;
    text-align:center;
}
.seltheme 
{
    width:220px;
    height:25px;
    display:block;
    background-color:White;
    position:absolute;
    z-index:9999;
    left:220px;
    top:4px;
    text-align:center;
    padding-left:5px;
    line-height:25px;
    cursor:pointer;
}
.selthemeinfo
{
    width:220px;
    display:block;
    background-color:White;
    position:absolute;
    z-index:9999;
    left:220px;
    top:25px;
    text-align:left;
    padding-left:5px;
    line-height:25px;
    display:none;
}
.selthemeinfo a,.selthemeinfo a:link,.selthemeinfo a:active,.selthemeinfo a:visited
{
    color:Black;
    text-decoration:none;
    text-align:center;
    margin-bottom:6px;
    padding-left:5px !important;
    padding-right:5px !important;
    display:block;
    text-align:center;
    margin-left:3px;
    margin-right:3px;
    height:25px;
    line-height:25px;
    float:left;
    cursor:pointer;
    border:1px solid White;
}
.selthemeinfo a:hover
{
    color:Black;
    text-align:center;
    margin-bottom:6px;
    text-decoration:underline;
    padding-left:5px;
    padding-right:5px;
    display:block;
    height:25px;
    line-height:25px;
    text-align:center;
    margin-left:3px;
    margin-right:3px;
    float:left;
    border:1px solid White;
}
.selkeyword
{
    width:175px;
    height:24px;
    display:block;
    position:absolute;
    z-index:9999;
    left:450px;
    border:0px none;
    vertical-align:middle;
    margin:0px;
    padding:0px;
    top:-2px;
    line-height:24px;
}
.btnsearch
{
    width:60px;
    height:25px;
    top:4px;
    position:absolute;
    left:635px;
    line-height:25px;
    border:0px none;
    cursor:pointer;
    background-color:#51473C;
    color:White;
    z-index:9999;
    text-align:center;
}