#mainbody
{
   margin:0 10px;
    padding-top:10px;
    _overflow:hidden;
}

.leftimg
{
    padding:3px;
    float:left;
    width:500px;
    margin-right:20px;
    display:inline;
      border:1px solid #999;
}

.sceincdesc
{
    width:500px;
   
}
.spandesc
{
    margin:15px 0px 0px 15px;
    background-color:#1F6D45;
    color:White;
    width:55px;
}
.jtdesc
{
    color:#007D8B;
    margin:10px 0px 0px 30px;
}
#rightprice
{
    float:left;
    width:320px;
}
#rightprice .price
{
     margin:20px 0;
    }
#mxprice
{
    background-color:#E8FFE8;
    height:100px;
    margin-right:25px;
}
.mxpicon
{
    float:right;
    margin-top:4px;
}
#mxprice p
{
    clear:both;
    font-size:14px;
    margin-left:25px;
    margin-bottom:25px;
    margin-top:0px;
}
.ydprice
{
    font-size:14px;
    padding:15px 0px 0px 20px;
    float:left;
  
}
.ydprice span
{
    font-size:24px;
    font-weight:500;
}
.yyprice
{
    color:#949494;
 
    margin:15px 0px 0px 20px;
}
.goyuding
{
   
   
    font-size:14px;
}
.goyuding a
{
   
    background-color:#FFE9C0;
    text-decoration:none;
}
.zxprice
{
    clear:both;
    font-size:14px;
    padding:15px 0px 0px 20px;
}
.zxprice span
{
    color:#D05037;
    font-size:28px;
}

.paycount
{
    padding:30px 0px 0px 20px;
    font-size:14px;
}
.ticketcount
{
    margin:0 !important;
      padding:0;
    width:40px;
 
    height:16px;
    line-height:16px;
   text-align:center;
   _height:14px;
  
}


.btncount
{
  
    width:13px;
}
.btnpay
{
    clear:both;
   
    padding:20px 0px 0px 20px;
}
.btnimgpay
{
   background-color:#ff3464;
   padding:5px,15px;
   border:1px solid #ddd;
}
#zbscenic
{
    margin-top:10px;
    height:35px;
    background-color:#F8A61C;
    padding-top:5px;
}
#zbscenic div
{
    clear:both;
    font-size:20px;
    color:#664206;
    margin:0px 0px 0px 20px;
    padding-top:0px;
    line-height:29px;
}
#zbscenicimg
{
  
    margin:10px auto;
}
.firstimg
{
    width:328px;
    height:203px;
    float:left;
    overflow:hidden;
}
.fwenzi
{
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.4;
    height:35px;
    width:100%;
    position:relative;
    top:-36.5px;
    color:White;
    *top:-38.5px;
    _top:-45.5px;
    top:-38.5px \0;
    top:-38.5px \9\0;
}
.fwenzi font,.swenzi font
{
    line-height:40px;
    margin-left:5px;
    
}
.fwenzi a:visited,.fwenzi a:link,.fwenzi a:active
{
    font-size:18px;
    margin-left:10px; 
    padding-top:-5px; 
    margin-top:0px; 
    line-height:40px;
    padding-bottom:10px;
    position:relative;
    top:-2px;
    color:White;
    text-decoration:none;
}
.rightscenicimg
{
    float:left;
    padding-left:20px;
}
.secdiv
{
    height:90px;
    width:160px;
    float:left;
    margin-bottom:20px;
    overflow:hidden;
    border-bottom:10px none White;
}
.swenzi
{
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.4;
    height:35px;
    width:100%;
    position:relative;
    top:-36.5px;
    color:White;
    overflow:hidden;
    _top:-38.5px;
    *top:-38.5px;
    top:-38.5px \0;
    top:-38.5px \9\0;
}
.swenzi a:visited,.swenzi a:link,.swenzi a:active
{
    font-size:16px;
    margin-left:10px; 
    padding-top:-5px; 
    margin-top:0px; 
    line-height:40px;
    padding-bottom:10px;
    position:relative;
    top:-2px;
    color:White;
    text-decoration:none;
}
.thdiv
{
    margin-left:20px;
    float:left;
    height:90px;
    width:160px;
    overflow:hidden;
    border-bottom:1px none White;
}
.ttdiv
{
    height:90px;
    width:160px;
    float:left;
    overflow:hidden;
}
.fidiv
{
    float:left;
    height:90px;
    margin-left:20px;
    width:160px;
    overflow:hidden;
}

.btnjian2
{
    background:url("/Img/btnjian2.jpg");
    width:18px;
    height:18px;
    border:0;
    outline:none;
    position:relative;
    left:4px;
   
}

.btnadd2
{
    background:url("/Img/btnadd2.jpg");
    width:18px;
    height:18px;
    border:0px none White;
    padding-left:0px;
    margin-left:0px;
    outline:none;
    position:relative;
    left:-4px;
}
/*第二版样式*/

#scdescinfo
{
    width:838px;
    height:320px;
    display:inline-block;
    background-color:#FAF6ED;
}
.scdescription
{
    margin:20px 0px 0px 10px;
    width:275px;
    line-height:30px;
    float:left;
}
.scftshow
{
    float:left;
    width:510px;
    margin:25px 0px 0px 25px;
    height:300px;
}
.sconeft
{
    width:170px;
    float:left;
    height:130px;
    display:block;
}
.imgft
{
    margin-left:10px;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:0px;
    width:150px;
    height:100px;
}
.sconeft p
{
    height:20px;
    text-align:right;
    padding-right:10px;
}
#zbscdiv
{
    display: inline-block;
    background-color:#B4B8BB;
    margin:0px;
    padding:0px;
    height:380px;
    width:838px;
}
.zbsctitle
{
    display:block;
    width:87px;
    height:34px;
    margin-top:17px;
    margin-left:17px;
    background-color:White;
    text-align:center;
    line-height:34px;
}
.zbscinfo
{
    background-color:White;
    margin:0px 0px 0px 17px;
    display:block;
    height:310px;
    width:802px;
    _overflow:hidden;
}
.zbscpic
{
    width:540px;
    margin:10px 0px 0px 10px;
    float:left;
    height:280px;
    display:block;
}
.zbscone
{
    margin-top:10px;
    height:130px;
    display:block;
    width:180px;
    float:left;
    _overflow:hidden;
}
.imgzb
{
    width:160px;
    margin:0px 10px 0px 10px;
    height:110px;
}
.zbscone p
{
    text-align:left;
    padding-left:10px;
    height:20px;
    line-height:20px;
}
.scmappos
{
    float:left;
    width:245px;
    height:250px;
    margin:20px 0px 0px 0px;
    display:block;
    _width:240px;
    _height:270px;
}
.scmappos p
{
    height:30px;
    font-size:12px;
    font-weight:bold;
    margin-bottom:5px;
    margin-left:10px;
    margin-top:5px;   
}
#containtermap
{
    width:690px;
    height:430px;
}
.rdinfo
{
    margin:10px 10px 10px 10px;
}
#visitedsc
{
    clear:both;
    display:block;
    width:838px;
    margin-top:100px;
    margin-bottom:15px;
    min-height:10px;
}
#visitedsc p
{
    margin:0px 5px 0px 5px;
    font-weight:700;
}
#visitedsc hr
{
    display:block;
    border:0px none;
    border-top:1px dashed #CDCDCD;
    margin-top:10px;
    width:800px;
}
.visitedinfo
{
    clear:both;
    width:808px;
    padding-left:20px;
    min-height:10px;
    display:block;
    overflow:auto;
    _overflow:hidden;
    *overflow:hidden;
    overflow:hidden \0;
    overflow:hidden \9\0;
}
.visiteddiv
{
    border:1px solid #CDCDCD;
    width:175px;
    height:135px;
    margin-right:25px;
    float:left;
    margin-bottom:10px;
}
.visiteddiv img
{
    width:165px;
    margin:5px 5px 0px 5px;
    height:105px;
}
.visiteddiv p
{
    height:30px;
    line-height:30px;
    font-weight:700;
    text-align:center;
}
.priceintro
{
    display:block;
    width:95px;
    height:22px;
    background:url("/theme/default/image/priceintro.png");
    float:right;
    margin:-30px 50px 0px 0px;
    _margin-right:25px;
}
#priceintrodiv
{
    width:188px;
    height:155px;
    position:absolute;
    z-index:500;
    border:2px solid #B4B4B4;
    background-color:#FAF6ED;
}
#priceintrodiv ul li
{
    margin:10px 0px 20px 10px;
    color:#B4B4B4;
}
#priceintrodiv ul li span
{
    color:#B4B4B4;
}
#priceintrodiv ul li p
{
    width:110%;
    color:Black;
    margin:10px 0px 10px 0px;
}

.divicon
{
    position:absolute;
    background-color:#0978AD;
    border:1px solid White;
    color:White;
    height:15px;
    line-height:15px;
    white-space:nowrap;
    font-size:12px;
    padding:2px;
    _padding:1px;
}
.jiancss
{
    top:10px;
    position:absolute;
    background:url('/Img/yuansu/largeicon2.gif') no-repeat;
    width:14px;
    height:15px;
    top:19px;
    _top:17px;
    left:10px;
    overflow:hidden;
}
/*新版本*/
.perscenic
{
    background-color:#DFEDD5;
    display:block;
    margin-top:20px;
    width:190px;
    padding-bottom:2px;
}
.perscenic p
{
    font-weight:bold;
    padding-left:30px;
    letter-spacing:2px;
    padding-top:10px;
    padding-bottom:0px;
    margin:0px;
}
.perscenicdiv
{
    display:block;
    background-color:White;
    width:180px;
    margin:5px auto;
    padding-top:5px;
}
.perscenicdiv table tr td
{
    padding:5px;
    margin:0px;
    padding-bottom:2px;
    
}
.navsc
{
    margin-left:10px;
    margin-top:15px;
    font-weight:bold;
}
.navsc img
{
    margin-right:10px;
    vertical-align:middle;
}
.navsc a,.navsc a:link,.navsc a:active,.navsc a:visited,.navsc a:hover
{
    color:#007520;
}
#mainscenic
{
    width:100%;
   _overflow:hidden;
   margin-left:10px;
}
.mainscbg
{
    width:384px;
    height:296px;
    display:block;
    float:left;
    margin-bottom:20px;
    background:url("/theme/default/image/newversion/mainscenicbg.png");
   
}
.mainscenicimg
{
    display:block;
    width:384px;
    height:283px;
    
}
#maintitle
{
    margin-right:25px;
    height:60px;
    display:block;
    float:left;
}
#maintitle h2
{
    font-size:18px;
    font-family:微软雅黑;
    margin:10px 0px 0px 30px;
}
.themespan
{
    display:block;
    margin:20px 0px 0px 30px;
    color:#EC6B9E;
}
.themespan span
{
    margin-left:15px;
}
.opentime
{
    margin:15px 0px 0px 30px;
}
.ordertktype
{
    margin:50px 0px 0px 30px;
}
.paytktype
{
    margin:15px 0px 0px 30px;
}
#priceinfo
{
     clear:both;
     display:block;
     margin-right:10px;
     width:97%;
}
#priceinfo hr
{
    border:none;
    border-bottom:2px solid #B5ACA2;
    margin-top:10px;
    margin-bottom:5px;
    margin:10px auto 5px auto;
    width:99%; 
}
#priceinfo table
{
    margin:5px;
    margin-right:10px;
    width:99%;
}
#priceinfo table tr td
{
    margin:0px;
}
.tstr td
{
    background-color:#E6E6E6;
    text-align:center;
    font-weight:bold;
    height:30px;
    line-height:30px;
}
#priceinfo table
{
    padding-bottom:10px;
}
.btnputcart
{
    border:0px none;
    background:url("/theme/default/image/newversion/putcartbg_1.gif");
    background-repeat:repeat;
    width:80px;
    height:20px;
    cursor:pointer;
    color:White;
    font-weight:bold;
    text-align:center;
    line-height:20px;
    padding:0px;
    font-size:12px;

}
.btnputcart:hover
{
    border:0px none;
    background:url("/theme/default/image/newversion/putcartbg_2.gif");
    background-repeat:repeat;
    width:80px;
    height:20px;
    cursor:pointer;
    color:White;
    font-weight:bold;
    text-align:center;
    line-height:20px;
    padding:0px;

}
.pttr td
{
    background-color:White;
    text-align:center;
    font-weight:normal;
    border-bottom:1px solid #B4B4B4;
}
.pttr2 td
{
    background-color:White;
    text-align:center;
    font-weight:normal;
    border-bottom:1px dashed #B4B4B4;
}
#allinfo
{
    margin:20px 0px 0px 5px;
}
.selectinfospan 
{
    margin:0px;
    padding:0px;
    margin-left:0px;
    overflow:hidden;
    margin-bottom:-5px;
}
.selectinfospan  span
{
    display:block;
    float:left;
    border:1px solid #D0D1CA;
    border-bottom:0px none;
    margin-right:5px;
    cursor:pointer;
    width:83px;
    height:28px;
    background:url("/theme/default/image/newversion/icon_span.gif");
    background-repeat:repeat-x;
    text-align:center;
    line-height:28px;
}
#
changeinfo
{
    display:block;
    
}
#plate1
{
    margin:0px;
    clear:both;
    border:1px solid #55A930;
    padding-left:15px;
    padding-top:20px;
    width:95%;
    line-height:25px;
    padding-bottom:10px;
}
.highselected
{
    height:32px !important;
    background:url("/theme/default/image/newversion/gkbg.gif") !important;
    border:none !important ;
    color:White;
    font-weight:bold;
}
#plap
{
    height:30px;
    display:block;
    padding-left:20px;
    color:White;
    background-color:#55A930;
    font-weight:bold;
    margin-bottom:0px;
    width:704px;
    line-height:30px;
}
#plate2
{
    margin:0px;
    clear:both;
    border:1px solid #55A930;
    width:707px;
    padding:10px 15px 10px 0px;
    line-height:25px;
    padding-bottom:10px;
    display:inline-block;
    overflow:hidden;
}
/*同程网样式*/
.intro_information
{
    width:700px;
}
.intro_information img
{
    display:block;
    width:340px;
    float:left;   
}
.intro_img
{
    width:330px;
}
#plate2 p
{
    padding-left:20px;
}
.intro_information p
{
    padding-left:0px !important;
}
.sconeft
{
    width:330px;
    float:left;
    height:245px;
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
}
.imgft
{
    margin-right:10px;
    margin-top:0px;
    margin-bottom:0px;
    width:340px;
    height:225px;
}
.sconeft p
{
    height:20px;
    text-align:right;
    padding-right:10px;
}

.backtop
{
    display:none;
    cursor:pointer;
    position:fixed;
    bottom:20px;
    right:50px;
}
.sclv
{
     margin:30px 0px 0px 30px;
     white-space:nowrap;
}
.sclv span
{
    font-size:12px;
    font-weight:bold;
    margin-right:20px;
    width:50px;
}
.scaddr
{
    margin:20px 0px 0px 30px;
}
.scaddr a:link,.scaddr a:active,.scaddr a:visited
{
    margin-right:20px;
    color:#6AA94E;
}
.scaddr a:hover
{
    margin-right:20px;
    color:#009F3C;
}
.scdesc
{
    margin:20px 0px 0px 30px;
    width:280px;
    color:#8D8D8D;
}
.scdesc a:link,.scdesc a:active,.scdesc a:visited
{
    margin-left:5px;
    color:#6AA94E;
}
.scdesc a:hover
{
    color:#009F3C;
}
.ordertype
{
    margin:20px 0px 0px 30px;
    height:25px;
    line-height:25px;
}
.paytype
{
    clear:both;
    margin:10px 0px 0px 30px;
     height:20px;
     line-height:25px;
}
.ordertype h3,.paytype h3
{
    font-weight:bold;
    font-size:12px;
    width:60px;
    float:left;
    height:25px;
    line-height:25px;
}
.ordertype span,.paytype span
{
    float:left;
    display:block;
    margin-left:20px;
    margin-top:-2px;
}

.captitle
{
    font-weight:bold;
}
.captitle img
{
    margin-right:10px;
    vertical-align:middle;
}
#introordertk
{
    margin-top:10px;
    margin-left:5px;
}
.otinfo
{
    border:1px solid #DEDEDE;
    width:710px;
    padding-left:10px;
    padding-top:15px;
    padding-bottom:15px;
}