/*公共部分*/
input,select
{
    font-size:12px;
}
.fuctitle
{
    margin: 15px 0px 0px 20px;
    color: #2E6391;
    font-size: 14px;
    font-weight: 700;
    font-family: 黑体;
}
.fuctitle a
{
    font-size: 14px;
    font-weight: 700;
    font-family: 黑体;
    color: #2E6391;
    text-decoration: none;
    cursor: pointer;
}
.fuctitle a:link, .fuctitle a:active, .fuctitle a:visited
{
    font-size: 14px;
    font-weight: 700;
    font-family: 黑体;
    color: #2E6391;
    text-decoration: none;
}
.fuctitle a:hover
{
    font-size: 14px;
    font-weight: 700;
    font-family: 黑体;
    color: #2E6391;
    text-decoration: underline;
}
hr
{
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid White;
    display: block;
    margin: 10px 0px 0px 20px;
}
/*验票*/
#tpmain
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
    height: 500px;
}
.centerbig
{
    display: block;
    width: 375px;
    height: 33px;
    background: url("/theme/default/image/checkticketbg.png");
    float: left;
}
.divtxtinfo
{
    display: block;
    margin-left: 15px;
    margin-top: -3.5px;
}
.txtinfo
{
    display: inline-block;
    _display: block;
    border: 0px none !important;
    height: 25px;
    margin: 0px;
    padding: 0px;
    margin-left: 18px;
    width: 340px;
    line-height: 25px;
    overflow: hidden;
    margin-bottom: 0px;
    _margin-top: 7px;
    _margin-left: 7px;
    font-size:12px;
}
.tp_nav
{
    margin: 150px auto;
    padding-left: 40px;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}
.tp_nav span
{
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}
.yklist
{
    width: 200px;
    position: absolute;
    z-index: 998;
}
.yklist table
{
    width: 100%;
    border-left: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    text-align: center;
    padding: 0px;
}
.yklist table tr
{
    text-align: center;
}
.yklist table td
{
    text-align: center;
    border-bottom: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
}

.ywrecord
{
    width: 200px;
    position: absolute;
    z-index: 998;
}
.ywrecord table
{
    width: 100%;
    border-left: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    text-align: center;
    padding: 0px;
}
.ywrecord table td
{
    text-align: center;
    border-bottom: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
}


.selectname
{
    color: Black;
    text-decoration: none;
    cursor: pointer;
}

.detailinfo
{
    border: 1px solid #C2C2C2;
    width: 560px;
    margin: 50px auto;
    display: block;
    margin-bottom: 0px;
}
h3
{
    margin: 30px 0px 0px 55px;
    font-size: 16px;
    font-weight: 700;
}
.idcard
{
    margin: 10px 0px 0px 55px;
}
.onlinebuy
{
    margin: 20px 0px 0px 55px;
}
.num
{
    font-size: 16px;
    font-weight: 700;
}
.bottom
{
    vertical-align: middle;
}
.ydbuy, .jxyd
{
    margin: 10px 0px 0px 55px;
}
.yptg
{
    margin: 20px 0px 30px 55px;
}
.btnckpass
{
    background: url("/theme/default/image/btnckpass.png");
    width: 78px;
    height: 31px;
    cursor: pointer;
    border: 0px none White;
}
.ywdiv
{
    margin: 15px 0px 0px 43px;
}
/*工作人员列表*/
#wlmain
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
    height: 500px;
}
.wltable
{
    width: 560px;
    border-left: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    text-align: center;
    margin: 40px auto;
}
.wltable td
{
    text-align: center;
    border-bottom: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
}
.lkbtnxg
{
    background: url("/theme/default/image/xgicon.png");
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    margin-left: 25px;
    margin-right: 0px;
    _margin-left: 12px;
}
.axg:link, .axg:active, .axg:visited
{
    text-decoration: none;
    margin-left: 50px;
    cursor: pointer;
    display: block;
    float: left;
    width: 30px;
    margin-top: -16px;
    _margin-left: 13px;
    _margin-top: 0px;
}
.axg:hover
{
    text-decoration: underline;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 50px;
    width: 30px;
    margin-top: -16px;
    _margin-left: 13px;
    _margin-top: 0px;
}
.btndelete
{
    margin: 20px auto;
    width: 650px;
}
.deletebtn
{
    width: 89px;
    height: 31px;
    background: url("/theme/default/image/btndelete.png");
    border: 0px solid White;
    margin-left: 44px;
    cursor: pointer;
}
/*增加工作人员*/
#addwk
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
    height: 350px;
}
.addmain
{
    width: 400px;
    margin: 40px auto;
}
.addwkbtn
{
    background: url("/theme/default/image/addwk.png");
    width: 76px;
    height: 32px;
    border: 0px none White;
    cursor: pointer;
}
.wkintr
{
    margin: 15px 0px 0px 30px;
    color: #666666;
}
/*修改联系他人*/
#xgwk
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
    height: 350px;
    _overflow: hidden;
}
#xgwk table
{
    margin: 40px 0px 0px 120px;
}
.savebtn
{
    background: url("/theme/default/image/biao1.png");
    width: 78px;
    height: 32px;
    border: 0px none White;
    cursor: pointer;
}
/*景区资料审核*/
#scinfo
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
    _overflow: hidden;
}
.scinfolist
{
    margin: 30px 0px 0px 50px;
    width: 700px;
    text-align: left;
}
.scintrotitle
{
    margin-left: 60px;
    margin-top: 10px;
}
.jjtext
{
    margin-left: 60px;
}
.btnsave
{
    width: 86px;
    height: 28px;
    background: url("/theme/default/image/changepwdbtn.png");
    border: 0px none White;
    cursor: pointer;
}
.btnupdatescpicto
{
    background: url("/theme/default/image/btnupdate2.png");
    width: 76px;
    height: 31px;
    cursor: pointer;
    border: 0px none;
}
#divbigmap
{
    position: fixed;
    bottom: 20px;
    _position: absolute;
    _bottom: auto;
    left: auto;
    right: auto;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    width: 750px;
    height: 450px;
    border: 2px solid #CDCDCD;
}
/*景区门票价格审核*/
.priceintro
{
    color: #666666;
    margin: 20px 20px 0px 20px;
}
.stepstate
{
    margin: 10px 0px 0px 0px;
}
.step:link, .step:active, .step:visited
{
    display: block;
    float:left;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: Black;
    font-weight: 700;
    font-size: 14px;

}
.step:hover
{
    display: block;
    float:left;
    margin: 10px 0px 0px 0px;
    text-decoration: underline;
    color: Black;
    font-weight: 700;
    font-size: 14px;
}
.stepicon
{
    color:Green;
    font-weight:bold;
    font-size:20px;
    display:block;
    float:left;
    line-height:35px;
}
.unable,.unable:link,.unable:active,.unable:visited,.unable:hover
{
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin: 10px 0px 0px 0px;
    cursor:inherit;
    color:#666666;
    line-height:30px;
}
.btnapply
{
    width: 75px;
    height: 30px;
    background: url("/theme/default/image/applyscticket.jpg");
    border: 0px none White;
    cursor: pointer;
}
#shprice
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
}
.passsh
{
    margin: 20px 0px 0px 50px;
    font-size: 14px;
    font-weight: 700;
}
.priceinfo
{
    margin: 20px auto;
    width: 200px;
}
.jtpriceinfo
{
    margin-left: 50px;
    font-size: 16px;
    font-weight: 700;
}
/*修改景区价格*/
#updateprice
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
}
.priceintroduction
{
    margin-left: 30px;
    margin-top: 0px;
    color: #666666;
}
.tableprice
{
    margin: 15px 0px 0px 25px;
    width: 600px;
}
.btnokprice
{
    background: url("/theme/default/image/btnok.png");
    width: 75px;
    height: 30px;
    border: 0px none White;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.paystate
{
    width:100%;
    height:30px;
    padding-left:350px;
}
.paystate a,.paystate a:link,.paystate a:active,.paystate a:visited
{
    text-decoration:none;
    line-height:30px;
}
.nowstate,.nowstate:link,.nowstate:active,.nowstate:visited,.nowstate:hover
{
    font-weight:bold;
}
/*上传景区资料*/
#uploadscinfo
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
}
.udtitle
{
    margin-left: 30px;
    margin-top: 20px;
    color: #666666;
}
.udinfo
{
    margin: 20px 0px 0px 30px;
}
.btnudok
{
    background: url("/theme/default/image/btnok.png");
    width: 75px;
    height: 30px;
    border: 0px none White;
    cursor: pointer;
}
/*修改景区管理员信息*/
#upadmininfo
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
}
#upadmininfo table
{
    width: 400px;
    margin: 20px auto;
}
.updateadmininfo
{
    background: url("/theme/default/image/btnok.png");
    width: 75px;
    height: 30px;
    border: 0px none White;
    cursor: pointer;
    margin-top: 20px;
}
/*售票查询*/
#spmain
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 20px auto;
    width: 650px;
    display: block;
    height: 500px;
}
.searchtime
{
    margin: 15px 0px 0px 25px;
}
.txtdate
{
    width: 100px;
    vertical-align: middle;
}
.odstate
{
    margin: 10px 0px 0px 20px;
}
.ddlstate
{
    vertical-align: middle;
}
.sptable
{
    margin: 15px auto;
    width: 600px;
    table-layout: fixed;
    text-align: center;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
}
.sptable tr
{
    display: table-row;
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: center;
}
.sptable td
{
    text-align: center;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}
#datetitle
{
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    line-height: 30px;
    color: #1F5B8D;
}
.titlename
{
    background-color: #E9E9E9;
}
.titlename td
{
    margin: 0px;
    padding: 0px;
    height: 30px;
    line-height: 30px;
}
.odinfo td
{
    margin: 0px;
    padding: 0px;
    height: 30px;
    line-height: 30px;
}
/*账单管理*/
#zdmain
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 20px auto;
    width: 650px;
    display: block;
}
/*景区图片管理*/
#scpic
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 20px auto;
    width: 650px;
    display: block;
}
.scpics
{
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
}
.scpics span
{
    line-height: 30px;
    margin-left: 20px;
    margin-right: 50px;
}
.scpics a:link, .scpics a:active, .scpics a:visited
{
    font-size: 14px;
    margin-right: 15px;
    text-decoration: none;
    color: #2E6391;
}
.scpics a:hover
{
    font-size: 14px;
    margin-right: 15px;
    text-decoration: underline;
    color: #2E6391;
}
.scpicsper
{
    width: 95%;
    margin-bottom: 10px;
    display: block;
    border-top: 1px solid #D1D1D1;
    border-bottom: 0px none;
    border-left: 0px none;
    border-right: 0px none;
}
.scpicmain
{
    margin-top: 10px;
}
.scpicmain span
{
    margin-left: 20px;
}
.scpicmain table
{
    margin-left: 20px;
    margin-top: 15px;
}
.btnsaveimg
{
    background: url("/theme/default/image/biao1.png");
    width: 78px;
    height: 32px;
    border: 0px none;
    cursor: pointer;
}
/*景区图片展示*/
#picshow
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 20px auto;
    width: 650px;
    display: block;
}
.picshowmain
{
    padding-top: 10px;
    width: 600px;
    margin: 0px auto;
}
.picshowtitle
{
    font-size: 14px;
    color: #2E6391;
    clear: both;
    font-family: 黑体;
}

.picshowinfo
{
    display: block;
    float: left;
    width: 200px;
    margin: 0px;
    padding: 0px;
    height: 140px;
}
.picshowinfo img
{
    display: block;
    width: 160px;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    height: 120px;
}
.picshowinfo .aa:link, .picshowinfo .aa:active, .picshowinfo .aa:visited
{
    display: block;
    margin: 0px;
    padding: 0px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: Black;
    text-decoration: none;
}
.picshowinfo .aa:hover
{
    display: block;
    margin: 0px;
    padding: 0px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: Black;
    text-decoration: underline;
}
.addscenicimg
{
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}
.btnaddscenicimg
{
    width: 76px;
    height: 32px;
    background: url("/theme/default/image/addwk.png");
    border: 0px none;
    cursor: pointer;
    clear: both;
}
/*景区信息编辑*/
#scinfoedit
{
    border: 1px solid #C8C8C8;
    background-color: White;
    margin: 40px auto;
    width: 650px;
    display: block;
    _overflow: hidden;
}
.scinfoedittitle
{
    margin:0px;
    padding:0px;
    margin-left:10px;
    margin-top:10px;
    color:#2E6391;
    margin-bottom:10px;
}
/*主题管理*/
.interesttopic
{
    margin:15px 0px 10px 10px;
    font-weight:700;
}
.tagstore 
{
    margin:15px;
}
.tagstore a,#taglist a

{
    cursor:pointer;
    margin-right:10px;
}
.topicbtn
{
    background: url("/theme/default/image/biao1.png");
    width: 78px;
    height: 32px;
    border: 0px none;
    cursor: pointer;
    margin:10px 0px 10px 10px;
}