body 
{
    padding:0px;
    margin:0px;
    font-size:12px;
    text-align:center;
}
#main
{
    display:inline-block;
    background:url("/theme/default/image/smlogin.png");
    width:900px;
    height:573px;
    margin:0px auto;
}
#footer
{
    margin:0px auto;
    height:30px;
    line-height:30px;
    width:900px;
    background-color:#E6E7E7;
    color:#297ABC;
}
#footer span
{
    line-height:30px;
    margin-left:15px;
}
#mainlogin
{
    width:520px;
    height:363px;
    margin:130px auto;
    background:url("/theme/default/image/smloginbg.png");
}
#title
{
    width:345px;
    height:50px;
    background:url("/theme/default/image/smlogintitlebg.png");
    margin:0px auto;
    font-family:微软雅黑;
    font-size:30px;
    text-align:center;
    color:White;
    letter-spacing:3px;
    padding-top:6px;
}
.tablemain
{
    display:block;
    width:300px;
    margin:43px auto;
}
.username
{
    font-size:16px;
    font-family:微软雅黑;
    color:#454545;
}
.txtusername
{
    width:200px;
    height:26px;
    border:1px solid #B7B7B7;
    background-image:url("/theme/default/image/smloginicon.png");
    background-repeat:no-repeat;
    background-color:White;
    margin-top:15px;
}
.txtusername2
{
    width:174px;
    border:0px none White;
    height:24px;
    line-height:24px;
    margin-left:24px;
    margin-top:0px;
    margin-top:-1px \9;
    vertical-align:middle;
    margin-top:0.5px \0;
}
.txtpwd
{
    width:200px;
    height:26px;
    border:1px solid #B7B7B7;
    background-image:url("/theme/default/image/smloginicon2.png");
    background-repeat:no-repeat;
    background-color:White;
    margin-top:15px;
}
.txtpwd2
{
    width:174px;
    border:0px none White;
    height:24px;
    line-height:24px;
    margin-left:24px;
    margin-top:0px;
    margin-top:-1px \9;
    vertical-align:middle;
    margin-top:0.5px \0;
}
.btnlogin
{
    background:url("/theme/default/image/smloginbtn.png");
    width:75px;
    height:39px;
    cursor:pointer;
    border:0px none;
    margin-top:10px;
}