.yd_info{overflow:hidden;border-bottom:1px #ccc dashed;width:738px;padding:0 0 10px 0;}
.yd_info h3{font-size:14px;font-weight:bold;}
.mtop{margin-top:10px;}
.info_p{line-height:20px;overflow:hidden;}
.info_p .num{float:left;width:12px;}
.info_p .p_so{float:left;width:726px;}
.info_p .num{float:left;width:12px;}
.info_p .p_so{float:left;width:726px;}
.intro_information{overflow:hidden;width:718px;padding:10px;}
.intro_information dt{width:700px;padding:0 0 5px 18px;background:url(http://img1.40017.cn/cn/new_ui/scenic/images/lastpage/lastpage_yh1.1.png?v=20120806010) no-repeat -309px -50px;border-bottom:1px solid #76bbff;}
.intro_information dt span{font-weight:700;padding-right:10px;}
.intro_information dd{padding:5px 0 0 0;overflow:hidden;}
.intro_information dd p{padding-bottom:10px;}
.intro_img{width:350px;float:left;overflow:hidden;padding-right:9px;}
.intro_img img{width:350px;height:263px;}
.intro_img span{width:350px;text-align:center;white-space:nowrap;overflow:hidden;display:block;}
.list_square{width:718px;padding:10px;overflow:hidden;}
.list_square li{overflow:hidden;width:718px;text-align:left;list-style:square inside;}
.intro_head{width:718px;height:30px;line-height:30px;background:#eff7ff;font-size:20px;font-weight:600px;color:#005bb5;font-family:"寰蒋闆呴粦";}
.intro_head font{color:#f60;font-size:20px;}