<?xml version="1.0"?>
<connectionStrings>
    <!--<add name="TourOnlineConn"
             connectionString="Server=.\SQL2008;
      database=TourOnline;uid=sa;pwd=aa123"
         providerName="System.Data.SqlClient"/>-->
  <add name="TourOnlineConn" connectionString="Server=.\sqlexpress;database=tourol1218; Trusted_Connection=true; " providerName="System.Data.SqlClient"/>
</connectionStrings>




