<?xml version="1.0"?>
<connectionStrings>
    <!--<add name="TourOnlineConn"
             connectionString="Server=.\SQL2008;
      database=TourOnline;uid=sa;pwd=aa123"
         providerName="System.Data.SqlClient"/>-->
    <add name="TourOnlineConn" connectionString="Server=192.168.1.141\SQLEXPRESS;database=tourol_1113_02;uid=dev;pwd=123456" providerName="System.Data.SqlClient"/>
</connectionStrings>




