<%@ Master Language="C#" MasterPageFile="~/m.master" AutoEventWireup="true" CodeFile="LTA.master.cs"
    Inherits="LocalTravelAgent_LTA" %>

<%@ MasterType VirtualPath="/m.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <link href="/theme/default/css/public.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="cphFunction" runat="server">
    <div>
        <ul class="nav">
            <li runat="server" id="li_1"><a href="/localtravelagent/djsedit.aspx">信息维护</a> </li>
            <li runat="server" id="li_2"><a href="/localtravelagent/Groups/GroupEditBasicInfo.aspx">新建团队</a></li>
            <li runat="server" id="li_3"><a href="/localtravelagent/Groups/GroupInfo.aspx">团队导入</a></li>
            <li runat="server" id="li_4"><a href="/localtravelagent/Groups/GroupList.aspx">团队列表</a></li>
            <li runat="server" id="li_5"><a href="/localtravelagent/TourEnterpriseStatistics.aspx">验证企业统计信息</a></li>
            <li runat="server" id="li_6"><a href="/localtravelagent/DptStatistic.aspx">旅游管理部门统计信息</a></li>
            <li runat="server" id="li_7"><a href="/localtravelagent/RecEntList.aspx">奖励政策</a></li>
            <li runat="server" id="li_8"><a href="/localtravelagent/LTAUserManager.aspx">用户管理</a></li>
                  <li runat="server" id="li1"><a href="/localtravelagent/GuideList.aspx">导游列表</a></li>
                        <li runat="server" id="li2"><a href="/localtravelagent/DriverList.aspx">司机列表</a></li>
        </ul>
    </div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" runat="Server">
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
