<%@ Master Language="C#" MasterPageFile="~/m.master" AutoEventWireup="true" CodeFile="manager.master.cs" Inherits="TourManagerDpt_manager" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" Runat="Server">
</asp:Content>

