if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330802197106174434' and a.typeId=1) print '48' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330802197912224424' and a.typeId=1) print '51' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330802199904284426' and a.typeId=1) print '57' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330802200410195015' and a.typeId=1) print '60' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330824196611104713 ' and a.typeId=1) print '65' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330824197103074727 ' and a.typeId=1) print '67' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330824199212133713 ' and a.typeId=1) print '69' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330104194805050415' and a.typeId=1) print '117' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330104195002260448' and a.typeId=1) print '118' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330203200607193623' and a.typeId=1) print '176' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330222197102124811' and a.typeId=1) print '177' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330227197610267546' and a.typeId=1) print '178' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330205200008016513' and a.typeId=1) print '179' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330901194508190029' and a.typeId=1) print '180' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330902197310250022' and a.typeId=1) print '181' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='332623197109040012' and a.typeId=1) print '182' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330802193806064430' and a.typeId=1) print '239' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源莲花塘+大峡谷联票' and a.sname=b.title and  a.idcard='330802194708114427' and a.typeId=1) print '240' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源枫楼坑景区' and a.sname=b.title and  a.idcard='330823195407177332' and a.typeId=1) print '10' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源枫楼坑景区' and a.sname=b.title and  a.idcard=' 330481198911232439 ' and a.typeId=1) print '28' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源枫楼坑景区' and a.sname=b.title and  a.idcard='330802200410195015' and a.typeId=1) print '59' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源枫楼坑景区' and a.sname=b.title and  a.idcard='330824196611104713 ' and a.typeId=1) print '64' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源枫楼坑景区' and a.sname=b.title and  a.idcard='330824197103074727 ' and a.typeId=1) print '66' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='钱江源枫楼坑景区' and a.sname=b.title and  a.idcard='330824199212133713 ' and a.typeId=1) print '68' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='古田山国家级自然保护区' and a.sname=b.title and  a.idcard='330823195407177332' and a.typeId=1) print '8' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='开化根雕博览园' and a.sname=b.title and  a.idcard='330824196609093912' and a.typeId=1) print '247' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='开化根雕博览园' and a.sname=b.title and  a.idcard='330824197101194725' and a.typeId=1) print '248' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='开化根雕博览园' and a.sname=b.title and  a.idcard='330824199507143927' and a.typeId=1) print '249' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='  330802193911164425  ' and a.typeId=1) print '6' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802194409044422' and a.typeId=1) print '35' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802197103044466' and a.typeId=1) print '41' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802197106174434' and a.typeId=1) print '46' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802197912224424' and a.typeId=1) print '50' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802199904284426' and a.typeId=1) print '55' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330881199305047520' and a.typeId=1) print '77' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330881199310251518' and a.typeId=1) print '78' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330881199404103727 ' and a.typeId=1) print '79' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330881199407010518 ' and a.typeId=1) print '80' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330102196010150347' and a.typeId=1) print '84' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='33082319560903791x' and a.typeId=1) print '94' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802197203291616' and a.typeId=1) print '134' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='31022219541001024X ' and a.typeId=1) print '139' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='310114197812040226 ' and a.typeId=1) print '140' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='310222194901100210' and a.typeId=1) print '141' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330203200607193623' and a.typeId=1) print '183' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330222197102124811' and a.typeId=1) print '184' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330227197610267546' and a.typeId=1) print '185' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330205200008016513' and a.typeId=1) print '186' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330901194508190029' and a.typeId=1) print '187' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330902197310250022' and a.typeId=1) print '188' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='332623197109040012' and a.typeId=1) print '189' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='332524195603250017' and a.typeId=1) print '224' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='332524195905020022' and a.typeId=1) print '225' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='33250219870122001X' and a.typeId=1) print '226' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='33010619341208003X' and a.typeId=1) print '227' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330106194209120061 ' and a.typeId=1) print '228' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='310109199212033522 ' and a.typeId=1) print '229' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='310110196609198423 ' and a.typeId=1) print '230' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330106196810130016' and a.typeId=1) print '231' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330106199805220037 ' and a.typeId=1) print '232' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='332502197010260026 ' and a.typeId=1) print '233' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802193806064430' and a.typeId=1) print '237' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard='330802194708114427' and a.typeId=1) print '238' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='戴笠故居（含仙霞关）' and a.sname=b.title and  a.idcard=' 330102196212260325 ' and a.typeId=1) print '255' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='江郎山' and a.sname=b.title and  a.idcard='330881198906213315' and a.typeId=1) print '2' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='江郎山' and a.sname=b.title and  a.idcard='330823195407177332' and a.typeId=1) print '7' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='江郎山' and a.sname=b.title and  a.idcard='330821199509064019' and a.typeId=1) print '11' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='江郎山' and a.sname=b.title and  a.idcard='33082319680303002X' and a.typeId=1) print '13' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='江郎山' and a.sname=b.title and  a.idcard='310110197611254687' and a.typeId=1) print '14' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='江郎山' and a.sname=b.title and  a.idcard='310101197712053618' and a.typeId=1) print '15' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='江郎山' and a.sname=b.title and  a.idcard='320222197709033439' and a.typeId=1) print '16' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='清漾毛氏文化村' and a.sname=b.title and  a.idcard='330102196010150347' and a.typeId=1) print '83' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='清漾毛氏文化村' and a.sname=b.title and  a.idcard=' 330102196212260325 ' and a.typeId=1) print '256' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='清漾毛氏文化村' and a.sname=b.title and  a.idcard='330802197211263615' and a.typeId=1) print '261' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='清漾毛氏文化村' and a.sname=b.title and  a.idcard='330802197711174424' and a.typeId=1) print '262' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='清漾毛氏文化村' and a.sname=b.title and  a.idcard='330802199509263633' and a.typeId=1) print '268' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='清漾毛氏文化村' and a.sname=b.title and  a.idcard='33080219690629363X' and a.typeId=1) print '269' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802198610121619' and a.typeId=1) print '1' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='  330802193911164425  ' and a.typeId=1) print '4' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='310227195406110231' and a.typeId=1) print '20' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='310227196001230248' and a.typeId=1) print '22' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='310227198402260041' and a.typeId=1) print '24' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802193810314412' and a.typeId=1) print '30' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802194402173627' and a.typeId=1) print '31' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802194409044422' and a.typeId=1) print '32' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802194707114425' and a.typeId=1) print '36' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard=' 330802196312164435 ' and a.typeId=1) print '37' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802196407254425' and a.typeId=1) print '38' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard=' 330802196901234446 ' and a.typeId=1) print '39' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802196901303675' and a.typeId=1) print '40' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802197103044466' and a.typeId=1) print '44' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802197106174434' and a.typeId=1) print '45' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802197912224424' and a.typeId=1) print '49' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802199307084426' and a.typeId=1) print '52' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802199309184412' and a.typeId=1) print '53' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802199904284426' and a.typeId=1) print '54' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard=' 330802199912283642 ' and a.typeId=1) print '58' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330102196010150347' and a.typeId=1) print '86' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='33080219650320441x' and a.typeId=1) print '93' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='33082319560903791x' and a.typeId=1) print '95' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330104194805050415' and a.typeId=1) print '113' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330104195002260448' and a.typeId=1) print '114' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330104197601150426' and a.typeId=1) print '115' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330103197309280016' and a.typeId=1) print '116' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802197203291616' and a.typeId=1) print '135' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330623197210185118' and a.typeId=1) print '136' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='33020319760122122x' and a.typeId=1) print '137' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330203200110272414' and a.typeId=1) print '138' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330205196212170316' and a.typeId=1) print '142' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='33020319630803122X ' and a.typeId=1) print '143' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='33020319620425121x' and a.typeId=1) print '144' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330203196210170360' and a.typeId=1) print '145' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330203196308081219' and a.typeId=1) print '146' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='350111197211040341' and a.typeId=1) print '149' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='350103196612140197' and a.typeId=1) print '150' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='350103199812304911' and a.typeId=1) print '151' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330823196708159116' and a.typeId=1) print '152' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330881199303317523' and a.typeId=1) print '153' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330881199902277527' and a.typeId=1) print '154' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330823196806277925' and a.typeId=1) print '155' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330203200607193623' and a.typeId=1) print '190' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330222197102124811' and a.typeId=1) print '191' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330227197610267546' and a.typeId=1) print '192' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330205200008016513' and a.typeId=1) print '193' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330901194508190029' and a.typeId=1) print '194' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330902197310250022' and a.typeId=1) print '195' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='332623197109040012' and a.typeId=1) print '196' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard=' 330821196112226012' and a.typeId=1) print '212' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard=' 330821199011146033' and a.typeId=1) print '213' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='332524195603250017' and a.typeId=1) print '214' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='332524195905020022' and a.typeId=1) print '215' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='33250219870122001X' and a.typeId=1) print '216' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='33010619341208003X' and a.typeId=1) print '217' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330106194209120061 ' and a.typeId=1) print '218' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='310109199212033522 ' and a.typeId=1) print '219' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='310110196609198423 ' and a.typeId=1) print '220' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330106196810130016' and a.typeId=1) print '221' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330106199805220037 ' and a.typeId=1) print '222' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='332502197010260026 ' and a.typeId=1) print '223' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802193806064430' and a.typeId=1) print '235' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='330802194708114427' and a.typeId=1) print '236' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard=' 330102196212260325 ' and a.typeId=1) print '257' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='廿八都古镇' and a.sname=b.title and  a.idcard='331023198510220635' and a.typeId=1) print '259' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='  330802193911164425  ' and a.typeId=1) print '5' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330823195407177332' and a.typeId=1) print '9' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='331003200406160024' and a.typeId=1) print '17' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330802200410195015' and a.typeId=1) print '63' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330881198603055524' and a.typeId=1) print '76' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='332603197809120544' and a.typeId=1) print '81' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='352104197708204012' and a.typeId=1) print '82' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330102196010150347' and a.typeId=1) print '85' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330104197601150426' and a.typeId=1) print '119' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330103197309280016' and a.typeId=1) print '120' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330802197203291616' and a.typeId=1) print '133' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330823196708159116' and a.typeId=1) print '156' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330881199303317523' and a.typeId=1) print '157' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330881199902277527' and a.typeId=1) print '158' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330823196806277925' and a.typeId=1) print '159' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330802196911094416' and a.typeId=1) print '168' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330802197601024425' and a.typeId=1) print '169' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330802200009284441' and a.typeId=1) print '170' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330802193511253648' and a.typeId=1) print '171' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330203200607193623' and a.typeId=1) print '197' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330222197102124811' and a.typeId=1) print '198' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330227197610267546' and a.typeId=1) print '199' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330205200008016513' and a.typeId=1) print '200' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330901194508190029' and a.typeId=1) print '201' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='330902197310250022' and a.typeId=1) print '202' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='332623197109040012' and a.typeId=1) print '203' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard=' 330102196212260325 ' and a.typeId=1) print '258' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='浮盖山' and a.sname=b.title and  a.idcard='331023198510220635' and a.typeId=1) print '260' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330106197111202011' and a.typeId=1) print '3' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330821199509064019' and a.typeId=1) print '12' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='310226197809231815' and a.typeId=1) print '18' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='310227195406110231' and a.typeId=1) print '19' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='310227196001230248' and a.typeId=1) print '21' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='310227198402260041' and a.typeId=1) print '23' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330625196707164273' and a.typeId=1) print '29' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330802200410195015' and a.typeId=1) print '61' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825194604104528' and a.typeId=1) print '70' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825197402140612' and a.typeId=1) print '71' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198505211027' and a.typeId=1) print '72' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198604061829' and a.typeId=1) print '73' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198609142927' and a.typeId=1) print '74' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198709071011 ' and a.typeId=1) print '75' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330625196310264241  ' and a.typeId=1) print '87' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33062519700727330X  ' and a.typeId=1) print '88' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330681198603243321' and a.typeId=1) print '89' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330681198706123330' and a.typeId=1) print '90' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33068119930219329X' and a.typeId=1) print '91' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330681199310143321' and a.typeId=1) print '92' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825196502161213' and a.typeId=1) print '96' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825196804035327' and a.typeId=1) print '97' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825196805256519' and a.typeId=1) print '98' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825197210171625' and a.typeId=1) print '99' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825197303104528' and a.typeId=1) print '100' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825197412315914 ' and a.typeId=1) print '101' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33082519750307452X' and a.typeId=1) print '102' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825197509070634' and a.typeId=1) print '103' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33082519831005181X' and a.typeId=1) print '104' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198512190025' and a.typeId=1) print '105' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198610037016' and a.typeId=1) print '106' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198710203544' and a.typeId=1) print '107' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825199402094520' and a.typeId=1) print '108' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330104194805050415' and a.typeId=1) print '109' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330104195002260448' and a.typeId=1) print '110' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330104197601150426' and a.typeId=1) print '111' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330103197309280016' and a.typeId=1) print '112' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330821198010103213' and a.typeId=1) print '147' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33082519790923022x' and a.typeId=1) print '148' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330302197402221613' and a.typeId=1) print '160' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330302197604180848' and a.typeId=1) print '161' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330302200504120834' and a.typeId=1) print '162' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330302197403040013' and a.typeId=1) print '163' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330304198110030628' and a.typeId=1) print '164' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33030220040311243X ' and a.typeId=1) print '165' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330483198612190913' and a.typeId=1) print '166' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330483198601294020' and a.typeId=1) print '167' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330203200607193623' and a.typeId=1) print '204' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330222197102124811' and a.typeId=1) print '205' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330227197610267546' and a.typeId=1) print '206' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330205200008016513' and a.typeId=1) print '207' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330901194508190029' and a.typeId=1) print '208' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330902197310250022' and a.typeId=1) print '209' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='332623197109040012' and a.typeId=1) print '210' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33021919711123175X ' and a.typeId=1) print '211' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330281199811272234' and a.typeId=1) print '234' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825195505151833' and a.typeId=1) print '241' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825195604121883' and a.typeId=1) print '242' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825200212251826' and a.typeId=1) print '243' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330823197909073891X' and a.typeId=1) print '244' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198106271823' and a.typeId=1) print '245' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330825198608091822' and a.typeId=1) print '246' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330821195602153229' and a.typeId=1) print '250' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330802197310071213' and a.typeId=1) print '251' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330802200001044419 ' and a.typeId=1) print '252' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330821197504053223' and a.typeId=1) print '253' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330821195007133231' and a.typeId=1) print '254' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330802197211263615' and a.typeId=1) print '263' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330802197711174424' and a.typeId=1) print '264' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330802199509263633' and a.typeId=1) print '265' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='33080219690629363X' and a.typeId=1) print '266' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游石窟' and a.sname=b.title and  a.idcard='330802196811173627' and a.typeId=1) print '267' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330106197111202011' and a.typeId=1) print '25' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330123197607030029' and a.typeId=1) print '26' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330183200009140026' and a.typeId=1) print '27' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802194409044422' and a.typeId=1) print '33' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802197103044466' and a.typeId=1) print '43' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802197106174434' and a.typeId=1) print '47' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802199904284426' and a.typeId=1) print '56' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802200410195015' and a.typeId=1) print '62' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330821195602153229' and a.typeId=1) print '123' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802197310071213' and a.typeId=1) print '124' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802200001044419 ' and a.typeId=1) print '125' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330821197504053223' and a.typeId=1) print '126' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330821195007133231' and a.typeId=1) print '127' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330821198010103213' and a.typeId=1) print '128' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='33082519790923022x' and a.typeId=1) print '129' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330821199610233219' and a.typeId=1) print '130' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330821197211163218' and a.typeId=1) print '131' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330821197311123221' and a.typeId=1) print '132' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802196911094416' and a.typeId=1) print '172' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802197601024425' and a.typeId=1) print '173' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802200009284441' and a.typeId=1) print '174' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='龙游民居苑' and a.sname=b.title and  a.idcard='330802193511253648' and a.typeId=1) print '175' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='' and a.sname=b.title and  a.idcard='' and a.typeId=1) print '' 
if not exists( select * from act_importfromtz a ,actnews b where a.sName='' and a.sname=b.title and  a.idcard='' and a.typeId=1) print '' 
