.detail_titlebg
{
    display:block;
    background:url("/theme/default/image/Detail_Titlebg.gif");
    height:33px;
    padding-left:10px;
    color:#022950;
    line-height:33px;
    font-weight:bold;
    font-size:13px;
}
.searchdiv
{
    padding:10px;
    padding-bottom:10px;
    background-color:#EEEEEE;
    margin:10px;
}
h5
{
    margin-bottom:10px;
}
.searchdiv label,label
{
    font-weight:normal;
}
.searchdiv input[type=text]
{
    width:100;
}
.detaillist
{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}
.comTable
{
    width:100%;
    border-top:1px solid #CDCDCD;
    border-left:1px solid #CDCDCD;
    text-align:center;
    margin-left:3px;
}
.comTable tr td
{
    border-right:1px solid #CDCDCD;
    border-bottom:1px solid #CDCDCD;
    text-align:left;
}

.detailtitle
{
    border:1px solid #B2B2B2;
    height:20px;
    background-color:#CECECE;
    padding-left:10px;
    line-height:20px;
}
table tr td
{
    height:20px !important;
}
.detaillist .InfoTable
{
    width:92% !important;
    margin-top:2px !important;
    border-left:none;
    border-top:none;
    margin-left:-1px !important;
    float:left;
    overflow:hidden;
}


.tabs ul li
{
    font-size:13px !important;
    color:#B1B1B1 !important;
    font-weight:bold !important;
}
.IndexTable
{
    margin-top:2px !important;
    float:left;
    margin-left:5px !important;
    width:7% !important;
    overflow:hidden;
}
.btn2,a.btn2
{
 
    height:19px;
    border:1px solid #CDCDCD;
    color:#11406C;
    font-weight:bold;
    background-color:White;
    display:inline-block;
    text-align:center;
}


.btn2:hover
{
    background:url("/theme/default/image/button_bg.gif");
    height:19px;
   
    color:#11406C;
    cursor:pointer;
   
}
.btn2
{
    border:1px solid #CDCDCD;
    color:#11406C;
    height:24px;
    line-height:20px;
    text-align:center;
    background-color:White;
    cursor:pointer;
    font-weight:bold;
}
.btn2:hover
{
    border:1px solid #009282;
    color:#11406C;
    height:24px;
    line-height:20px;
    text-align:center;
    background:url("/theme/default/image/btn2_bg2.jpg");
    cursor:pointer;
    font-weight:bold;
}
.rbl
{
    margin:0px auto;
}
.rbl td,.rbl table,.rbl
{
    border:none !important;
    text-align:left !important;
}
/*验票页面的样式*/
.yklist
{
    width: 200px;
    position: absolute;
    z-index: 998;
}
.yklist table
{
    width: 100%;
    border-left: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    text-align: center;
    padding: 0px;
}
.yklist table tr
{
    text-align: center;
}
.yklist table td
{
    text-align: center;
    border-bottom: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
}
.detailinfo
{
    margin-left:10px;
    width:560px;
    border:1px solid #999999;
    margin-top:10px;
    display:block;
    float:left;
    
}
.rightinfo
{
    width:200px;
    float:right;
    display:block;
    margin-top:-5px;
    margin-right:5px;
    height:300px;
}
.remark
{
    padding:10px;
}
.remark p
{
    margin-top:5px;
    margin-bottom:5px;
    color:#999999;
}
.remark a,.remark a:link,.remark a:active,.remark a:visited
{
    color:#009383;
    text-decoration:none;
}
.remark a:hover
{
    text-decoration:underline;
}
h6
{
    margin-top:5px;
    margin-bottom:5px;
    font-weight:normal;
}
.detaillist div
{
    margin-left:5px;
}
ul 
{
    list-style-type:none;
    color:#999999;
}

.orderspan
{
    
}
.sequence
{
    color:inherit;
    text-decoration:none;
    cursor:pointer;
}

.actiondiv
{
    margin:5px 0px 5px 4px;
    background-color:#EEEEEE;
    padding:20px 10px 20px 10px;
}
.actiondiv h3
{
    font-weight:bold;
    width:100px;
    float:left;
    font-size:12px;
}

.actiondiv div
{
    background:url("/theme/default/image/question.png");
    background-repeat:no-repeat;
    width:210px;
    height:18px;
    padding-left:20px;
    float:right;
    margin-right:200px;
    margin-top:3px;
}


.actiondiv a,.actiondiv a:link,.actiondiv a:active,.actiondiv a:visited
{
    color:#019380;
    margin-left:15px;
}
.navstate
{
    margin:5px;
    float:right;
    width:250px;
}
.navstate a,.navstate a:link,.navstate a:active,.navstate a:visited
{
    
}
.selectstate:link,.selectstate:active,.selectstate:hover,.selectstate:visited,.selectstate
{
    color:#019380;
    background-color:White;
}
.rewardbg
{
 
color:Red;
    }
    .rewardbg a
    {
         display:inline-block;
           padding-left:30px;
            font-weight:600 !important;
        }
        


.navlist
{
    display:block;
    padding-left:10px;
    background:url("/theme/default/image/Detail_Titlebg.gif");
    height:33px;
}
.navlist a
{
    display:block;
    float:left;
    height:33px;
    line-height:33px;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
}
.higherLines
{
     line-height:20px;
    }
/*导入Excel样式*/
.drInfo
{
    margin:40px 0px 40px 40px;
    width:700px;
    height:200px;
    display:block;
    border:1px solid #CDCDCD;
}
.drInfo h1
{
    color:#4C6A69;
    font-family:黑体;
    font-size:16px;
    font-weight:bold;
    margin:30px 0px 0px 40px;
}
.drbtn
{
    margin:30px 0px 0px 40px;
    position:relative;
}
.drbtn .but
{
    border:1px solid #CDCDCD;
    width:100px;
    height:25px;
    line-height:25px;
    text-align:center;
    background-color:White;
    color:#029384;
    font-weight:bold;
}
#selecfile
{
    margin-left:10px;
    color:#959595;
}
.fu
{
    position:absolute; top:0; left:0px; height:24px; filter:alpha(opacity:0);opacity: 0;width:170px
}
.drIntrod
{
    margin:30px 0px 0px 40px;
    background:url("/theme/default/image/drincon_1.gif");
    background-repeat:no-repeat;
    height:18px;
    padding-left:14px;
    color:#EE6940;
    border-bottom:1px dashed #EE6940;
    width:450px;
}
.exdrintro
{
    margin:40px 0px 40px 40px;
}
.exdrintro h3
{
    color:#536967;
    font-size:12px;
    font-weight:bold;
    margin-left:40px;
    line-height:30px;
    border-bottom:1px dashed #4DB3A6;
    width:500px;
}
.exdrintro p
{
    margin-left:40px;
    margin-top:20px;
    margin-bottom:0px;
}
.downloadexcel
{
    margin:40px 0px 0px 40px;
    background:url("/theme/default/image/drincon_2.gif");
    padding-left:30px;
    height:22px;
    background-repeat:no-repeat;
}
.downloadexcel a
{
    color:#EC6841;
    line-height:22px;
    font-size:14px;
    font-weight:bold;
}
.tabintro
{
    text-align:right;
    margin-top:6px;
  margin-left:20px;
  display:inline-block;
    color:#777;
}
.tabSelect
{
    margin:5px 0px 5px 4px;
    height:30px;
    border-bottom:2px solid #2399C9;
}
.tabSelect a
{
    display:block;
    float:left;
    text-decoration:none;
    height:30px;
    width:100px;
    background-color:#E7EEE7;
    border-right:1px solid #2399C9;
    line-height:30px;
    text-align:center;
    color:Black;
    cursor:pointer;
}
.Select_Tab
{
    background-color:#2399C9 !important;
    color:White !important;
}
.Select_Btn
{
    display:block;
    float:right;
    margin-top:5px;
}
.a_btn
{
    border:none;
    position:relative;
    background:none;
    cursor:pointer;
    top:1px;
    left:-3px;
    margin:0px;
    padding:0px;
    margin-left:2px;
}
.a_btn:hover
{
    text-decoration:underline;
}
.NoRecord
{
    font-size:16px !important;
    color:#45AA88;
    margin:0px auto;
    text-align:center;
}