.detail_titlebg
{
    display:block;
    background:url("/theme/default/image/Detail_Titlebg.gif");
    height:33px;
    padding-left:10px;
    color:#5E716B;
    line-height:33px;
    font-weight:bold;
    font-size:13px;
}
.searchdiv
{
    padding:10px;
    padding-bottom:0px;
}
h5
{
    margin-bottom:10px;
}
.searchdiv label,label
{
    font-weight:normal;
}
.detaillist
{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}
.detailtitle
{
    border:1px solid #B2B2B2;
    height:20px;
    background-color:#CECECE;
    padding-left:10px;
    line-height:20px;
}
.detaillist table
{
    width:99%;
    margin-top:2px;
    border-left:1px solid #999999;
    border-top:1px solid #999999;
    margin-left:5px;
}
.detaillist table tr td
{
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    text-align:center;
}
.btn
{
    background:url("/theme/default/image/button_bg.gif");
    height:19px;
    width:64px;
    color:#009383;
    cursor:pointer;
    border:none;
}
.rbl td,.rbl table,.rbl
{
    border:none !important;
}
/*验票页面的样式*/
.yklist
{
    width: 200px;
    position: absolute;
    z-index: 998;
}
.yklist table
{
    width: 100%;
    border-left: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    text-align: center;
    padding: 0px;
}
.yklist table tr
{
    text-align: center;
}
.yklist table td
{
    text-align: center;
    border-bottom: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
}
.detailinfo
{
    margin-left:10px;
    width:560px;
    border:1px solid #999999;
    margin-top:10px;
    display:block;
    float:left;
    
}
.rightinfo
{
    width:200px;
    float:right;
    display:block;
    margin-top:-5px;
    margin-right:5px;
    height:300px;
}
.remark
{
    padding:10px;
}
.remark p
{
    margin-top:5px;
    margin-bottom:5px;
    color:#999999;
}
.remark a,.remark a:link,.remark a:active,.remark a:visited
{
    color:#009383;
    text-decoration:none;
}
.remark a:hover
{
    text-decoration:underline;
}
h6
{
    margin-top:5px;
    margin-bottom:5px;
    font-weight:normal;
}
.detaillist div
{
    margin-left:5px;
}
ul 
{
    list-style-type:none;
    color:#999999;
}