
#aboutleft
{
    float: left;
    width: 20%;
}
#aboutleft ul
{
    list-style-type: none;
    
    margin: 0px 0px 20px -18px;
}
#aboutleft ul li
{
    list-style-type: none;
    width: 250px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: inherit;
    display: block;
}

.normala a, .normala a:hover, .normala a:visited, .normala a:active
{
    background-color: #D3E6D0;
    color: #4D8141;
    display: block;
    width: 190px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#aboutright
{
    float: right;
    width: 80%;
}
#maintitle
{
    font-weight: 800;
    margin: 20px 0px 10px 30px;
    font-size: 12px;
}
#wenzi
{
    border: 3px solid #DFEDD5;
    width: 650px;
    height: 550px;
    margin: 10px 0px 50px 30px;
}
.textareadiv
{
    width: 600px;
    margin: 15px auto;
    line-height: 25px;
    min-height:100px;
    _height:100px;
}
.highLightLink a, .highLightLink a:hover, .highLightLink a:active, .highLightLink a:visited, .highLightLink a:link
{
    background-color: #6AA94E;
    color: White;
    display: block;
    width: 190px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight:600;
}
.title
{
    font-weight:bold;
    font-size:14px;
}
 strong
{
    color:#6DA94F;
}
.content p
{
    font-size:13px !important;
}
