<?xml version="1.0"?>
  <appSettings>
    <add key="ScenicFocusIds" value="9,13,14,15,16,17"/>
    <add key="ScenicImagePath" value="ScenicImg"/>
      <add key="HTMLInfoPath" value="D:\HTMLInfo\"/>
    <!--Seotitle配置-->

    <add key=""/>
    <add key="FromSMTP" value="smtp.exmail.qq.com"/>
    <add key="FromEmail" value="surpport@tourol.cn" />
    <add key="FromEmailPwd" value="qq1111"/>
     <add key="FromName" value="旅游在线"/>
  </appSettings>

