<?xml version="1.0"?>
<connectionStrings>
 <add name="TourOnlineConn" connectionString="Server=.\sql2008;database=TourOnline;uid=sa;pwd=aa123" providerName="System.Data.SqlClient"/>
    <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=To urOnline;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
 </connectionStrings>


