<?xml version="1.0"?>
<connectionStrings>
 <add name="TourOnlineConn" connectionString="Server=127.0.0.1,7788\sql2008;database=TourOnline;uid=sa;pwd=admin" providerName="System.Data.SqlClient"/>
    <!--<add name="TourOnlineConn" connectionString="Server=JJJ-PC\JJJ;database=TourOnline;uid=sa;pwd=jjjj0000" providerName="System.Data.SqlClient"/>-->
 </connectionStrings>

