<?xml version="1.0"?>
<log4net>
  <appender name="RollingFileAppenderForError" type="log4net.Appender.RollingFileAppender">
    <file value="tourolLog\\error.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
   
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFileAppenderForDebug" type="log4net.Appender.RollingFileAppender">
    <file value="tourolLog\\debug.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFileAppenderForPayment" type="log4net.Appender.RollingFileAppender">
    <file value="tourolLog\\payment.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <logger name="ErrorLogger">
    <level value="ALL" />
    <appender-ref ref="RollingFileAppenderForError" />
  </logger>
  <logger name="PaymentLogger">
    <level value="ALL" />
    <appender-ref ref="RollingFileAppenderForPayment" />
  </logger>
  <logger name="DebugLogger">
    <level value="ALL" />
    <appender-ref ref="RollingFileAppenderForDebug" />
  </logger>

</log4net>