<?xml version="1.0"?>
<rewriter>

 
  <!-- <rewrite url="/(\d+)" to="/default.aspx?area=$1" />
   <register parser="BLL.SEO.RewriteConditionParser,BLL" />
   
    -->
  <unless url="\.ashx|\.aspx|\.css|\.gif|\.png|\.jpg|\.js|\.ico|^/$|^/about|^/ajax|^/Manager|^/Order|^/map|^/payment|^/promote|^/scenic|^/scenicmanager|^/search|^/usercenter|^/err\.aspx">
   <!--景区详情-->
   
    <rewrite url="/(\D+)/(\D+)\.html$" to="/Scenic/default.aspx?sname=$2" processing="stop" />
    <!--区域/级别/[分页]-->
    <rewrite url="/(\D+)/(\d(a|A))/(page_(\d+)\.html)$" to="/default.aspx?area=$1&amp;level=$2&amp;pgotindex=$5" processing="stop" />
    <rewrite url="/(\D+)/(\d(a|A))/?$" to="/default.aspx?area=$1&amp;level=$2" processing="stop" />

    <!--区域/[分页] -->
  <rewrite url="/(\D+)/(page_(\d+)\.html)?$" to="/default.aspx?area=$1&amp;pgotindex=$3" processing="stop" />
     <rewrite url="/(\D+)/?$" to="/default.aspx?area=$1" processing="stop" />
     <!--级别/分页-->
   <rewrite url="/(\d+(a|A))/(page_(\d+)\.html)?$" to="/default.aspx?level=$1&amp;pgotindex=$4" processing="stop" />
     <rewrite url="/(\d+(a|A))/?$" to="/default.aspx?level=$1" processing="stop" />
    <!--主页/分页-->
     <rewrite url="/(page_(\d+)\.html)$" to="/default.aspx?pgotindex=$2" processing="stop" /> 
    
  </unless>
</rewriter>

