<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <sectionGroup name="QQSectionGroup">
      <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <QQSectionGroup>
    <QzoneSection>
      <add key="AppKey" value="100273876"/>
      <add key="AppSecret" value="e949a2d3fe9bf971d515fee3d55fea38"/>
    </QzoneSection>
  </QQSectionGroup>
  <connectionStrings configSource="config\connectionStrings.config"/>
  <appSettings configSource="config\app.config"/>
  <rewriter configSource="config\rewriter.config"/>
  <system.web>
    <!--<httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>-->
   
   
    <customErrors  mode="RemoteOnly">
      
    </customErrors>
    <pages configSource="config\pages.config"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication configSource="config\authentication.config"/>
    <membership configSource="config\membership.config"/>
    <roleManager configSource="config\roleManager.config"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"
        name="UrlRewriter" />
    </modules>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NorthBoundAPIServiceSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--这里是艺龙提供给代理的服务地址-->
      <endpoint address="http://211.151.230.198/NorthBoundService/V1.1/NorthBoundAPIService.asmx"
                binding="basicHttpBinding" bindingConfiguration="NorthBoundAPIServiceSoap"
                contract="NorthBoundAPIService.NorthBoundAPIServiceSoap" name="NorthBoundAPIServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>